In [ ]:
# https://chatgpt.com/share/05999848-23ab-4367-8b58-a7f0b3f23d96

In [ ]:
#"Pre-lecture" HW

In [9]:
import pandas as pd
url = "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv"
df = pd.read_csv(url)
df.isna().sum()

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [2]:
df.describe()

         survived      pclass         age       sibsp       parch        fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

In [18]:
import pandas as pd

# Load the dataset
file_path = 'https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv'
titanic_data = pd.read_csv(file_path)

# Get the number of rows and columns
num_rows, num_columns = titanic_data.shape

# Print the number of rows and columns
print(f"Number of rows: {num_rows}")
print(f"Number of columns: {num_columns}")

Number of rows: 891
Number of columns: 15

In [10]:
df['survived'].value_counts()

survived
0    549
1    342
Name: count, dtype: int64

In [7]:
# 1. Descriptive statistics for numeric columns
numeric_summary = df.describe()

# 2. Counts of unique values for categorical columns (example for 'sex' and 'embarked')
sex_counts = df['sex'].value_counts()
embarked_counts = df['embarked'].value_counts()

# 3. Checking for missing values
missing_data = df.isnull().sum()

# Print the summaries
print("Numeric Summary:\n", numeric_summary)
print("\nSex Value Counts:\n", sex_counts)
print("\nEmbarked Value Counts:\n", embarked_counts)
print("\nMissing Data:\n", missing_data)

Numeric Summary:
          survived      pclass         age       sibsp       parch        fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

Sex Value Counts:
 sex
male      577
female    314
Name: count, dtype: int64

Embarked Value Counts:
 embarked
S    644
C    168
Q     77
Name: count, dtype: int64

Missing Data:
 survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [12]:
df['pclass'].value_counts()

pclass
3    491
1    216
2    184
Name: count, dtype: int64

In [13]:
df['age'].value_counts()

age
24.00    30
22.00    27
18.00    26
19.00    25
28.00    25
         ..
36.50     1
55.50     1
0.92      1
23.50     1
74.00     1
Name: count, Length: 88, dtype: int64

In [14]:
df['sibsp'].value_counts()

sibsp
0    608
1    209
2     28
4     18
3     16
8      7
5      5
Name: count, dtype: int64

In [15]:
df['parch'].value_counts()

parch
0    678
1    118
2     80
5      5
3      5
4      4
6      1
Name: count, dtype: int64

In [16]:
df['fare'].value_counts()

fare
8.0500     43
13.0000    42
7.8958     38
7.7500     34
26.0000    31
           ..
35.0000     1
28.5000     1
6.2375      1
14.0000     1
10.5167     1
Name: count, Length: 248, dtype: int64

In [8]:
df.shape

(891, 15)

In [ ]:
#question 1: There are 869 missing data points in the entire dataset

In [ ]:
#question 2: This dataset has 891 rows and 15 columns.

#observations: In this dataset, this is every passenger on the Titanic, with details such as their survival status, cabin, age, etc.

#Variable：is a variable that describes specific characteristics or information about the passengers, such as their age, gender, fare paid, or whether they survived.

In [ ]:
#question 4:
# .shape reports 15 columns because it calculates every column in the dataset, both numeric and categorical.
# .describe() reports only 6 columns because, by default, it only summarizes numeric columns.

#In count: .shape reports 891 rows, which is the total number of records in the dataset.The "count" values in .describe() reflect the non-missing values of each column. For example, the 'age' column has 714 non-null values, which means there are 177 rows with missing data for 'age'.

In [ ]:
#question 5:

#Attribute：A property is information about an object. It is a ready-made value and does not require any action.

##Methods: Need to perform some operation or calculation and then return the result

In [ ]:
#"Post-lecture" HW

In [ ]:
#quetions 6: 
#count reflects how many valid data points are present.

#mean is the average value of the column.

#std is Measures the spread or dispersion of values relative to the mean.

#min is Minimum value in the column.

#'25%', '50%', '75%', and 'max': They are: is the value below which 25% of the data points fall; the middle value when the data are sorted from small to large; is the value below which 75% of the data points fall; and the maximum value in the column.

In [ ]:
#quetuon 7:

#1. I am working with a medical dataset where different rows have missing values for different patients. Some patients may not have certain information filled in. Dropping rows ( df.dropna() ) in this case may be more efficient than missing all the data in the columns.

#2. In a sales dataset, if you have a column of "discount codes" where 90% of the entries are missing, it would make sense to delete the entire column ( del df['col']) since it provides little useful data for most rows.

#3. If I have a column with a lot of missing values and I don't remove them first, using df.dropna() may result in the removal of unnecessary rows. Applying del df['col'] Before df.dropna() can maximize the retention of useful data.

In [21]:
#4. First, check how much missing data there is. Then use df.dropna() to remove the rows that contain any missing values. Check how much missing data is left and compare the size of the dataset before and after the removal.

#Before and After Reports: 
#Before: You will see how many rows have missing data and the original shape of the dataset.
#After: Missing data

import pandas as pd

url = 'https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv'
df = pd.read_csv(url)

print("Missing values before cleaning:")
print(df.isnull().sum())

del df['deck']

df_cleaned = df.dropna()

print("\nShape before cleaning:", df.shape)
print("Shape after cleaning:", df_cleaned.shape)

print("\nMissing values after cleaning:")
print(df_cleaned.isnull().sum())

Missing values before cleaning:
survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

Shape before cleaning: (891, 14)
Shape after cleaning: (712, 14)

Missing values after cleaning:
survived       0
pclass         0
sex            0
age            0
sibsp          0
parch          0
fare           0
embarked       0
class          0
who            0
adult_male     0
embark_town    0
alive          0
alone          0
dtype: int64

In [ ]:
#question 8: 

#1. https://chatgpt.com/share/0ba5e24c-d3fc-4e23-b335-e1d46f78b078

#2. df.describe() gives an overall picture, while df.groupby() provides insights into patterns within specific subgroups.
#df.describe() reflects the total number of non-missing values in a single column in the entire dataset.
#df.groupby(“col1”)[“col2”].describe() reflects the non-missing values of col2 in each group of col1.

#3. NameError: name 'pd' is not defined, FileNotFoundError: [Errno 2] No such file or directory: 'titanics.csv',NameError: name 'DF' is not defined,SyntaxError: unexpected EOF while parsing,AttributeError: 'DataFrame' object has no attribute 'group_by',KeyError: 'Sex',NameError: name 'sex' is not defined
#Overall, ChatGPT seems to be better suited for real-time troubleshooting of Python code, especially common and straightforward errors.

In [ ]:
#question 9: Somewhat