In [ ]:
https://chatgpt.com/share/28740727-c4ff-4efb-82c2-17a025b7cede

In [9]:
import pandas as pd
url = "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv"
df = pd.read_csv(url)
df.isna().sum()

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [2]:
df.describe()

         survived      pclass         age       sibsp       parch        fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

In [10]:
df['survived'].value_counts()

survived
0    549
1    342
Name: count, dtype: int64

In [7]:
# 1. Descriptive statistics for numeric columns
numeric_summary = df.describe()

# 2. Counts of unique values for categorical columns (example for 'sex' and 'embarked')
sex_counts = df['sex'].value_counts()
embarked_counts = df['embarked'].value_counts()

# 3. Checking for missing values
missing_data = df.isnull().sum()

# Print the summaries
print("Numeric Summary:\n", numeric_summary)
print("\nSex Value Counts:\n", sex_counts)
print("\nEmbarked Value Counts:\n", embarked_counts)
print("\nMissing Data:\n", missing_data)

Numeric Summary:
          survived      pclass         age       sibsp       parch        fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

Sex Value Counts:
 sex
male      577
female    314
Name: count, dtype: int64

Embarked Value Counts:
 embarked
S    644
C    168
Q     77
Name: count, dtype: int64

Missing Data:
 survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [12]:
df['pclass'].value_counts()

pclass
3    491
1    216
2    184
Name: count, dtype: int64

In [13]:
df['age'].value_counts()

age
24.00    30
22.00    27
18.00    26
19.00    25
28.00    25
         ..
36.50     1
55.50     1
0.92      1
23.50     1
74.00     1
Name: count, Length: 88, dtype: int64

In [14]:
df['sibsp'].value_counts()

sibsp
0    608
1    209
2     28
4     18
3     16
8      7
5      5
Name: count, dtype: int64

In [15]:
df['parch'].value_counts()

parch
0    678
1    118
2     80
5      5
3      5
4      4
6      1
Name: count, dtype: int64

In [16]:
df['fare'].value_counts()

fare
8.0500     43
13.0000    42
7.8958     38
7.7500     34
26.0000    31
           ..
35.0000     1
28.5000     1
6.2375      1
14.0000     1
10.5167     1
Name: count, Length: 248, dtype: int64

In [8]:
df.shape

(891, 15)

In [ ]:
#.shape gives the number of rows and columns in the dataset.
#.describe() gives a statistical summary of numeric (and sometimes categorical) columns, showing things like mean, standard deviation, minimum, maximum, and count.

In [ ]:
#Attributeï¼šA property is information about an object. It is a ready-made value and does not require any action.

In [ ]:
#Methods: Need to perform some operation or calculation and then return the result